/* Estilo para el encabezado */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #e9e5dd;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

header h1 {
	font-size: 36px;
	margin: 0;
	padding: 0;
}

/* Espacion entre el header y el login de la página */
main {
	padding-top: 80px;
}

/* Fondo y color de fuente de la página */
body {
	font-family: Arial, sans-serif;
    background-color: #b3925a;
    color: #000000;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.form-container h2 {
    font-size: 24px;
    color: #333;
    margin: 0 0 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-group input[type="submit"] {
    padding: 10px 20px;
    background-color: #b3925a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #6dd900;
}

/* Estilo para el pie de página */
footer {
    background-color: #e9e5dd;
    color: #999;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}